.TopBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 68px;
}

.TopBar h1 {
	color: var(--accent);
	font-weight: bold;
	font-size: 48px;
}

.Container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.Container div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	background: var(--accent);
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
.Container p {
	font-weight: bold;
}
.TopBar button {
	font-weight: bold;
	background-color: white;
	color: var(--accent);
	width: 150px;
	height: 40px;
	border: 2px solid var(--accent);
	border-radius: 8px;
}
