.TopBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 68px;
}

.TopBar h1 {
	color: var(--accent);
	font-weight: bold;
	font-size: 48px;
}

.Container {
	display: flex;
	align-items: center;
	gap: 20px;
}
.Container div {
	background: #d9d9d9;
	width: 48px;
	height: 48px;
	border-radius: 100%;
}
.Container p {
	font-weight: bold;
}
