.Navbar {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px;
	width: 100%;
	height: 120px;
}
.Navbar a {
	color: inherit;
	text-decoration: none;
}

.Navbar h1 {
	font-family: "Cambay", sans-serif;
	color: var(--accent);
	font-size: 48px;
}
.Navbar div {
	display: flex;
	gap: 32px;
	align-items: center;
}

.Navbar div > a {
	font-weight: bold;
}

.Navbar div > button {
	background-color: white;
	color: var(--accent);
	font-weight: bold;
	width: 150px;
	height: 40px;
	border-radius: 8px;
	border: 2px solid var(--accent);
}
